<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>TomcatApplication</param-value>
    </context-param>
   <context-param>
        <param-name>IS_FILE_SERVICE</param-name>
        <param-value>true</param-value>
    </context-param>
   <context-param>
        <param-name>FILE_SYSTEM_ROOT</param-name>
        <param-value>/scratch/ssvemuri/tomcat</param-value>
    </context-param>
   <context-param>
        <param-name>SECURE_ENDPOINT</param-name>
        <param-value>https://slc02ftl.us.oracle.com:8443/proxysfservice-0.1.0</param-value>
    </context-param>
</web-app>
